
body{
    /* margin: 0;
    padding: 0; */
}

.main{
    height: 500px;
    width: 300px;
    margin: auto;
    border-radius: 1%;
    background-color: rgb(75, 67, 67);
    border: 2px solid black;
}
.display{
    height: 30%;
    width: 100%;
    border-radius: 2%;
    background-color: rgb(97, 94, 94);
    /* border: 1px solid black; */
}
.a{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    

}
button{
    height: 100%;
    width: 20%; 
    border: none;
    border-radius: 8%;
}
button:hover{
    background-color: green;
}