.Full{
    height: 600px;
    width: 800px;
    margin: auto;
    position: relative;
    background-image: url("food ordering page bg img.jpg");
    background-size: cover;  
}

.option{
    height: 20%;
    width: auto;
    background-color: orange;
    position: relative;
    top: 440px;
    padding: 20px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius:12px ;
}

button{
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
}
