.Full{
    height: 600px;
    width: 500px;
    border: 2px solid rgb(167, 164, 164);
    margin: auto;
    /* background-image: url("Hotel Gallery img.jpg"); */
    background-image: url("Hotel img.jpg");
    background-size: cover;
}
.img{
    height: 100px;
    width: 100px;
}
.child{
    height: 140px;
    width: 320px;
    background-color: rgb(75, 66, 66);
    border-radius: 10px;
    margin-top: 350px;
    margin-left:85px;
}
h2{ 
    color: white;
    position: relative;
    top:10px;
    left:12px
}
button{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
    position: relative;
    top:20px;
    left: 185px;
}
