.Full{
    height: 620px;
    width: 450px;
    margin: auto;
    border: 2px solid orangered;
    background-color: rgb(248, 108, 57);
    
}
.first{
    margin-top: 20px;
    margin-left: 20px;

}
.img1{ 
    height: 180px;
    width: 410px;
    border-radius: 15px;
}
h1{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
button{
    height: 45px;
    width: 110px;
    font-weight: bold;
    color: orangered;
    margin-left: 90px;
    border: none;
    border-radius: 8px;
}
p{  
    color: white;
    margin-left: 20px;

}
.picture{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}
h2{ 
    color: white;
    margin-left: 20px;
}
.img{
    height: 80x;
    width: 120px;
    

}