
/* ul{
    background-color:pink;
    display:flex;
    justify-content:space-evenly;
}
a{  text-decoration: none;
    color:red;
    
}
li{
    list-style-type: none;
    
}
.outer{
    height: 400px;
    width: 400px;
    background-color:cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color:darkorchid;
} */

div{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    

}
div:hover{
    background-color: red;
    color:white;
    font-size: 20px;

}
div:active{
   background-color: pink;

}
