body{
    width: 50%;
    border: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    

}
.gride_base div{
    display: flex;
}